[package]
name = "podfetch"
version = "0.1.0"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[build-dependencies]
built = {version="0.7.5", features=["chrono", "semver","cargo-lock"]}

[features]
default = ["sqlite", "postgresql"]
mysql = ["diesel/mysql", "diesel_migrations/mysql", "diesel/mysql_backend"]
postgresql = ["diesel/postgres", "diesel_migrations/postgres", "diesel/chrono", "r2d2_postgres",
    "diesel/postgres_backend"]
sqlite = ["diesel/sqlite", "diesel_migrations/sqlite", "libsqlite3-sys", "diesel/returning_clauses_for_sqlite_3_35"]

[dependencies]
awc =  {version="3.5.1", features = ["rustls"]}
rpassword = "7.3.1"
reqwest = { version = "0.12.8", features = ["stream", "json","blocking"] }
tokio-stream = { version = "0.1.16", features = ["sync"] }
actix = "0.13.5"
async-recursion = "1.1.1"
base64 = "0.22.1"
uuid = {version="1.11.0", features = ["v4", "serde"]}
libsqlite3-sys = {version = "0.30.1", features = ["bundled"], optional = true}
r2d2_postgres = {version = "0.18.1", optional = true}
diesel_migrations = "2.2.0"
actix-files = "0.6.6"
actix-web = {version="4.9.0", features=["rustls"]}
jsonwebtoken = {version="9.3.0"}
log = "0.4.22"
futures-util = "0.3.31"
substring = "1.4.5"
opml = "1.1.6"
rand = "0.8.5"
env_logger = "0.11.5"
chrono = {version  = "0.4.38", default-features=false, features = ["serde"]}
rss = "2.0.11"
actix-ws = "0.3.0"
frankenstein = "0.35.0"
regex = "1.11.0"
xml-builder = "0.5.2"
diesel = { version = "2.2.5", features = ["chrono", "r2d2"] }
r2d2 = "0.8.10"
utoipa = { version = "5.2.0", features = ["actix_extras", "chrono"] }
futures = "0.3.31"
utoipa-swagger-ui = {version = "8.0.3", features = ["actix-web"] }
clokwerk= "0.4.0"
tokio = {version = "1.41.1", features = ["full"]}
serde = "1.0.215"
serde_derive = "1.0.189"
sysinfo = {version = "0.32.0", features = ["serde"]}
fs_extra = "1.3.0"
serde_json = "1.0.133"
dotenv = "0.15.0"
thiserror = "2.0.3"
sha1 = "0.10.6"
sha256 = "1.5.0"
strfmt="0.2.4"
urlencoding="2.1.3"
id3 = "1.16.0"
mp4ameta = "0.11.0"
file-format = "0.26.0"

[target.'cfg(not(windows))'.dependencies]
openssl = "0.10.68"

[dev-dependencies]
serial_test = {version="3.2.0"}


[profile.release]
strip = true  # Automatically strip symbols from the binary.
lto = "thin"