[package]
name = "podfetch"
version = "0.1.0"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[build-dependencies]
built = {version="0.7.4", features=["chrono", "semver","cargo-lock"]}

[features]
default = ["sqlite", "postgresql"]
mysql = ["diesel/mysql", "diesel_migrations/mysql", "diesel/mysql_backend"]
postgresql = ["diesel/postgres", "diesel_migrations/postgres", "diesel/chrono", "r2d2_postgres",
    "diesel/postgres_backend"]
sqlite = ["diesel/sqlite", "diesel_migrations/sqlite", "libsqlite3-sys", "diesel/returning_clauses_for_sqlite_3_35",
    "openssl/vendored"]

[dependencies]
awc =  {version="3.5.0", features = ["rustls"]}
rpassword = "7.3.1"
reqwest = { version = "0.12.5", features = ["stream", "json","blocking"] }
tokio-stream = { version = "0.1.15", features = ["sync"] }
actix = "0.13.5"
async-recursion = "1.1.1"
base64 = "0.22.1"
uuid = {version="1.9.1", features = ["v4", "serde"]}
libsqlite3-sys = {version = "0.28.0", features = ["bundled"], optional = true}
r2d2_postgres = {version = "0.18.1", optional = true}
diesel_migrations = "2.1.0"
actix-files = "0.6.6"
actix-web = {version="4.8.0", features=["rustls"]}
jsonwebtoken = {version="9.3.0"}
log = "0.4.22"
futures-util = "0.3.29"
substring = "1.4.5"
opml = "1.1.6"
rand = "0.8.5"
env_logger = "0.11.3"
chrono = {version  = "0.4.38", default-features=false, features = ["serde"]}
actix-web-actors = "4.3.0"
rss = "2.0.8"
frankenstein = "0.31.0"
regex = "1.10.5"
xml-builder = "0.5.2"
diesel = { version = "2.1.6", features = ["chrono", "r2d2"] }
r2d2 = "0.8.10"
utoipa = { version = "4.2.3", features = ["actix_extras"] }
futures = "0.3.30"
utoipa-swagger-ui = {version = "7.1.0", features = ["actix-web"] }
clokwerk= "0.4.0"
tokio = {version = "1.38.0", features = ["full"]}
serde = "1.0.204"
serde_derive = "1.0.189"
sysinfo = {version = "0.30.13", features = ["serde"]}
fs_extra = "1.3.0"
serde_json = "1.0.120"
dotenv = "0.15.0"
thiserror = "1.0.61"
sha1 = "0.10.6"
sha256 = "1.4.0"
deunicode = "1.6.0"
strfmt="0.2.4"
urlencoding="2.1.3"
id3 = "1.14.0"
mp4ameta = "0.11.0"
file-format = "0.25.0"

[target.'cfg(not(windows))'.dependencies]
openssl = "0.10.64"

[dev-dependencies]
serial_test = {version="3.1.1"}


[profile.release]
strip = true  # Automatically strip symbols from the binary.
lto = "thin"