[package]
name = "podfetch"
version = "0.1.0"
edition = "2024"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[build-dependencies]
built = {version="0.8.0", features=["chrono", "semver","cargo-lock"]}

[features]
default = ["sqlite", "postgresql"]
postgresql = ["diesel/postgres", "diesel_migrations/postgres", "dep:r2d2_postgres",
    "diesel/postgres_backend", "hyper-tls", "native-tls"]
sqlite = ["diesel/sqlite", "diesel_migrations/sqlite", "dep:libsqlite3-sys", "diesel/returning_clauses_for_sqlite_3_35"]

[dependencies]
rpassword = "7.4.0"
reqwest = { version = "0.12.28", features = ["stream", "json","blocking", "rustls-tls", "trust-dns"]}
tokio-stream = { version = "0.1.18", features = ["sync"] }
async-recursion = "1.1.1"
base64 = "0.22.1"
uuid = {version="1.19.0", features = ["v4", "serde"]}
libsqlite3-sys = {version = "0.35.0", features = ["bundled"], optional = true}
r2d2_postgres = {version = "0.18.2", optional = true}
diesel_migrations = "2.3.1"
jsonwebtoken = {version="10.2.0", features = ["rust_crypto"]}
log = "0.4.29"
futures-util = "0.3.31"
substring = "1.4.5"
opml = "1.1.6"
rand = "0.9.2"
env_logger = "0.11.8"
chrono = {version  = "0.4.43", default-features=false, features = ["serde"]}
rss = "2.0.12"
frankenstein = { version = "0.46.0", features = ["client-ureq"] }
regex = "1.12.2"
xml-builder = "0.5.2"
diesel = { version = "2.3.5", features = ["chrono", "r2d2"] }
r2d2 = "0.8.10"
utoipa = { version = "5.4.0", features = ["chrono", "axum_extras"] }
futures = "0.3.31"
utoipa-swagger-ui = {version = "9.0.2", features = ["axum"] }
clokwerk= "0.4.0"
tokio = {version = "1.49.0", features = ["full"]}
serde = "1.0.228"
serde_derive = "1.0.189"
sysinfo = {version = "0.37.2", features = ["serde"]}
fs_extra = "1.3.0"
serde_json = "1.0.149"
thiserror = { version = "2.0.17", features = ["std"] }
sha1 = "0.10.6"
sha256 = "1.6.0"
strfmt="0.2.5"
urlencoding="2.1.3"
id3 = "1.16.4"
mp4ameta = "0.13.0"
file-format = "0.28.0"
maud = { version = "*", features = ["axum","axum-core"] }
url = "2.5.8"
rust-s3 = { version = "0.36.0", features = ["blocking", "fail-on-err", "futures", "tokio", "tokio-rustls-tls"], default-features = false }
async-trait = "0.1.89"
axum = { version = "0.8.8", features = ["macros","http2"] }
tower-http = { version = "0.6.6", features = ["fs"] }
tower = { version = "0.5.3", features = ["util"] }
utoipa-axum = { version = "0.2.0" }
utoipa-rapidoc = { version = "6.0.0",features = ["axum"] }
utoipa-redoc = { version = "6.0.0", features = ["axum"] }
utoipa-scalar = { version = "0.3.0", features = ["axum"] }
axum-extra={version = "0.12.5", features = ["cookie", "query"]}
axum-test = "18.6.0"
socketioxide = "0.18.0"
mime_guess = "2.0.5"
indexmap = "2"

[target.'cfg(not(windows))'.dependencies]
hyper-tls = {version = "0.6.0", optional = true}
native-tls = {version = "0.2.14", optional = true}


[dev-dependencies]
serial_test = {version="3.3.1"}
testcontainers = { version = "0.24.0" }
testcontainers-modules = { version = "0.12.1", features = ["postgres","blocking"] }
derive_builder = {version = "0.20.2"}
fake = { version = "4.4.0", features = ["chrono", "url"] }
bollard = {version = "*", features = ["rustls", "rustls-native-certs"], default-features = false}
axum-test = "18.6.0"

[profile.release]
debug = true

# disable debug symbols for all packages except this one
[profile.release.package."*"]
debug = false