[package]
name = "podgrabv2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = {version="0.11.14", features = ["blocking", "json", "async-compression", "rustls"]}
actix = "0.13.0"
uuid = {version="1.3.0", features = ["v4", "serde"]}
rusqlite= {version="0.28.0", features=["bundled", "chrono"]}
diesel_migrations = "2.0.0"
actix-files = "0.6.2"
actix-web = "4.3.0"
log = "0.4.17"
env_logger = "0.10.0"
chrono = "0.4.23"
actix-web-actors = "4.2.0"
actix-cors="0.6.4"
feed-rs = "1.3"
regex = "1.7.1"
diesel = { version = "2.0.3", features = ["sqlite"] }
utoipa = { version = "3", features = ["actix_extras"] }
futures = "0.3.26"
utoipa-swagger-ui = {version = "3", features = ["actix-web"] }
dotenvy = "0.15"
clokwerk= "0.4.0"
tokio = {version = "1.24.2", features = ["full"]}
serde = "1.0.152"
serde_derive = "1.0.152"
serde_json = "1.0.93"
dotenv = "0.15.0"