.App {
	text-align: center;
}

#root,
body,
html {
	height: 100%;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@media (min-width: 768px) {
	#authorTable tr:last-child {
		border-bottom-right-radius: 1rem; /* 16px */
		border-bottom-left-radius: 1rem; /* 16px */
	}

	#authorTable tr:last-child td:last-child {
		border-bottom-right-radius: 1rem; /* 16px */
	}

	#authorTable tr:last-child td:first-child {
		border-bottom-left-radius: 1rem; /* 16px */
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
