@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Roboto, serif;
}

.movie-text{
    font-family: anton, serif;
    font-weight: 800;
    font-size: 50px;
    @apply text-gray-900;
}
#audio-progress{
    @apply absolute;
}

#audio-progress-wrapper:hover #sound-control, #audio-progress-wrapper:hover .timecounter {
    @apply visible opacity-100;
}




#sound-control{
    position:absolute;
    right: 0;
    top:-5px;
}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay[src]{
    object-fit: fill;

}


.play-button-background:hover > *{
    @apply visible opacity-100;
}


#positionwrapper {
    left: 50%;
}

#audio-bottom-bar:hover >* {
    @apply visible opacity-100;
}

#notification-modal {
    background-color: rgb(31 41 55 / var(--tw-border-opacity));
    top: 0;
}

.notification-modal-visible{
    @apply visible opacity-100;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

#notification-modal::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(31 41 55 / var(--tw-border-opacity));
    transform: rotate(180deg) translate(50%, 100%);
    left: 50%;
    top: 0;
    clear: both;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 15px;
    @apply bg-gray-800
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}


.searchfield{
    width: 64rem;
}

.dots-distance {
    gap: 2px;
}

.dots-margin-bottom {
    margin-bottom: 0.15rem;
}

.animate-opacity {
    @apply opacity-0;
    animation: fadein 0.5s;
}
.z-60{
    z-index: 60;
}

.visibility-important{
    visibility: visible !important;
}

.line-clamp-3{
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.podcast-summary a{
    @apply text-gray-900 hover:underline ;
    text-underline: steelblue ;
}

.text-ago{
    color: #25d1da;
}
