@tailwind base;
@tailwind components;
@tailwind utilities;


#audio-progress{
    @apply absolute;
}

#audio-progress-wrapper:hover #sound-control, #audio-progress-wrapper:hover #timecounter {
    @apply visible opacity-100;
}
#sound-control{
    position:absolute;
    right: 0;
    top:-5px;
}
