@import "../../assets/scss/style";

$sidebar-transition-duration: $transition-duration-1;

.side-bar {
  height: 100%;
  width: $sidebar-width;

  position: fixed;
  top: 0;

  transition: left $sidebar-transition-duration;

  background-color: var(--color-gray-10);

  display: flex;
  flex-direction: column;
  gap: $spacing-11;
  padding: $spacing-8;

  color: white;

  /* Opening and closing */

  &.closed {
    left: -$sidebar-width;
  }

  &.open {
    left: 0;
  }

  @mixin sidebar-row {
    display: flex;
    flex-direction: row;
    gap: $spacing-6;
    align-items: center;

    padding: $spacing-8;
    border-radius: $spacing-8;

    svg {
      height: 2em;
      width: 2em;
      fill: currentColor;
    }

    h1 {
      font-weight: bold;
    }
  }

  /* Logo */

  .logo-section {
    @include sidebar-row;
    color: var(--color-primary-1)
  }

  /* Navigation */

  ul.navigation-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    gap: $spacing-3;

    li a {
      @include sidebar-row;

      transition: background-color $sidebar-transition-duration, color $sidebar-transition-duration;

      &:hover {
        background-color: var(--color-primary-dark-5);
      }

      &.active {
        background-color: var(--color-primary-dark-5);
        color: var(--color-primary-1);
      }
    }

    .space-before {
      margin-top: auto;
    }
  }
}

.content-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  transition: margin-left $sidebar-transition-duration;

  &.open {
    margin-left: $sidebar-width;
  }

  &.closed {
    margin-left: 0;
  }
}