name: Build mdBook
on:
  push:
    branches:
     - main

permissions:
  contents: read
  pages: write
  id-token: write
  packages: write

jobs:
    build:
        runs-on: ubuntu-latest
        env:
          IMAGE_NAME: ghcr.io/github.com/samtv12345/podfetch/mdbook-deploy
          IMAGE_TAG: docs-${{ github.sha }}
        steps:
        - uses: actions/checkout@v2
        - name: Install mdBook
          uses: peaceiris/actions-mdbook@v2
        - name: Build mdBook
          run: mdbook build
          working-directory: docs
        - name: Log in to GHCR
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Build and push Docker image for docs
          uses: docker/build-push-action@v4
          with:
            context: docs
            push: true
            tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }},${{ env.IMAGE_NAME }}:docs-latest
        - name: Update PodFetch charts
          env:
            PODFETCH_PUSH_USER: ${{ secrets.PODFETCH_PUSH_USER }}
            PODFETCH_PUSH_PASSWORD: ${{ secrets.PODFETCH_PUSH_PASSWORD }}
          run: |
            git clone https://$PODFETCH_PUSH_USER:$PODFETCH_PUSH_PASSWORD@github.com/SamTV12345/podfetch-charts.git ./podfetch-charts
            cd ./podfetch-charts
            git pull
            sed -i "s|tag: .*|tag: \"${IMAGE_TAG}\"|g" ./values-docs-dynamic.yaml
            git config user.name "PodFetch Support Bot"
            git config user.email "noreply@samtv.fyi"
            git add --all
            git commit -m "Updating values docs dynamic yaml" || true
            git push origin main
